
.main {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: scroll;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}
.videoBox {
  background-color: #FFF;
  border: 1px solid rgb(203, 199, 199);
  border-radius: 12px;
  height: 200px;
  width: 200px;
  margin-bottom: 14px;
}
.videoContent {
  border-radius: 12px 12px 0 0;
  height: 140px;
  width: 100%;
}
.videoContentImg {
  height: 100%;
  width: 100%;
}
.videoMsg {
  height: 60px;
  width: 100%;
  padding: 8px;
}
.videoMsgTitle {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.videoMsgTime {
  font-size: 12px;
  color: rgb(108, 108, 107);
}
