
.main {
  background-image: url(../../assets/imgs/bg_container.png);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: scroll;
}
.content {
  display: flex;
  flex-direction: column;
}
.personImg {
  margin-top: 10px;
  width: 320px;
  height: 230px;
}
.logoImg {
  padding-left: 20px;
  width: 298px;
  height: 40px;
}
.imgBox {
  padding-top: 20px;
  width: 100%;
  height: 300px;
  background: url('../../assets/home/bg-banner.jpg') no-repeat center/cover;
  // position: fixed;
}
